#  Ejercicios  con Pandas en Python

In [ ]:
import pandas as pd
import numpy as np

# Datos ejemplo
data = {
    'id': range(1, 11),
    'nombre': ['Ana', 'Luis', 'Juan', 'Ana', 'Pedro', 'Luis', 'Juan', 'Ana', 'Pedro', 'Luis'],
    'edad': [25, 32, np.nan, 40, 29, 32, 36, np.nan, 29, 30],
    'ventas': [100, 200, 150, 120, 300, 210, np.nan, 180, 310, 220],
    'ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Valencia', 'Madrid', 'Barcelona', 'Madrid', 'Valencia', 'Madrid', 'Barcelona']
}

df = pd.DataFrame(data)
df

## üîç 1-5: Filtros

In [ ]:
# 1. Filtrar personas mayores de 30 a√±os

In [ ]:
# 2. Filtrar ventas mayores a 200 y ciudad = 'Madrid'

In [ ]:
# 3. Filtrar filas con nombre 'Ana'

In [ ]:
# 4. Filtrar filas con edad nula

In [ ]:
# 5. Filtrar donde nombre sea 'Luis' o 'Pedro'

## üìä 6-10: Agrupaciones

In [ ]:
# 6. Promedio de ventas por ciudad

In [ ]:
# 7. Cantidad de registros por nombre

In [ ]:
# 8. Suma de ventas por nombre y ciudad

In [ ]:
# 9. Edad m√°xima por nombre

In [ ]:
# 10. Contar valores nulos por columna

## üîó 11-13: Merge / Join

In [ ]:
df_extra = pd.DataFrame({
    'nombre': ['Ana', 'Luis', 'Juan', 'Pedro'],
    'departamento': ['Ventas', 'Marketing', 'IT', 'Ventas']
})
df_extra

In [ ]:
# 11. Unir por nombre (left join)

In [ ]:
# 12. Inner join para obtener solo coincidencias

## üßº 13-15: Imputaciones , limpieza y pivot

In [ ]:
# 13. Imputar edad con la media

In [ ]:
# 14. Eliminar filas con valores nulos

In [ ]:
# 15. Pivot table: promedio de ventas por ciudad y nombre

## üß™ 16-20: Ejercicios adicionales de Pandas

In [ ]:
# 16. Reemplazar valores 'Luis' por 'Luis Miguel'

In [ ]:
# 17. Ordenar por ventas descendente

In [ ]:
# 18. Contar cu√°ntas veces aparece cada ciudad

In [ ]:
# 19. Crear una columna booleana si las ventas son mayores a 200

In [ ]:
# 20. Mostrar primeros 5 registros √∫nicos por nombre